
/* HEADER */
.logoL {
	width: 60%;
	min-width: 200px;
}
nav a {
	text-decoration: none;
	color: white;
}
nav li {
	padding: 7% 0 0 5%;
}

/* CUERPO */
/* Articulo */
.tittle {
	font-size: 2em;
}
.boton {
	background: rgb(176, 173, 183);
	padding: 6%;
	border-radius: 20px;
}